
<div class="container">
  <form class="form" novalidate (ngSubmit)="promeniLozinku()">
    <p class="title">Promena lozinke</p>

    <label>
      <input class="input" type="text" [(ngModel)]="username" 
            required [ngModelOptions]="{standalone: true}">
      <span>Username</span>
    </label>

    <!-- Stara lozinka -->
    <label>
      <input class="input" type="password" [(ngModel)]="staraLozinka" name="staraLozinka" required>
      <span>Unesi staru lozinku</span>
    </label>

    <!-- Nova lozinka -->
    <label>
      <input class="input" type="password" [(ngModel)]="novaLozinka" name="novaLozinka" required>
      <span>Nova lozinka</span>
    </label>

    <!-- Ponovljena nova lozinka -->
    <label>
      <input class="input" type="password" [(ngModel)]="ponovljenaNovaLozinka" name="ponovljenaNovaLozinka" required>
      <span>Ponovi novu lozinku</span>
    </label>

    <!-- Prikaz greške -->
    <div class="error" *ngIf="greska">{{ greska }}</div>

    <button class="submit" type="submit">Promeni lozinku</button>
  </form>
</div>
