<div class="dashboard-container">
  <div class="tabs-container">
    <div class="tabs">
      <button  class="tab-button" [class.active]="activeTab === 'aktivne'" (click)="setActiveTab('aktivne')">
        Aktivne rezervacije
      </button>
      <button
        class="tab-button" [class.active]="activeTab === 'arhiva'" (click)="setActiveTab('arhiva')">
        Arhiva
      </button>
      <button  class="tab-button" [class.active]="activeTab === 'otkazane'" (click)="setActiveTab('otkazane')">
        Otkazane rezervacije
      </button>
    </div>

    <div *ngIf="activeTab === 'aktivne'" class="tab-content">
        <p style="width: 100%;text-align: center; margin-top: 30px;"><b>Sve trenutno aktivne rezervacije</b></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Naziv vikendice</th>
              <th>Mesto</th>
              <th>Datum OD</th>
              <th>Datum DO</th>
              <th>Ukupan iznos</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of aktivne">
              <td>{{a.id}}</td>
              <td>
                <a [routerLink]="['/vikendica', a.vikendica.id]" class="link-vikendica">
                  {{ a.vikendica.naziv }}
                </a>
              </td>
              <td>{{a.vikendica.mesto}}</td>
              <td>{{a.datumOD ? (a.datumOD | date:'d MMM yyyy') : '--' }}</td>
              <td>{{a.datumDO ? (a.datumDO | date:'d MMM yyyy') : '--' }}</td>
              <td>{{a.cena| number:'1.0-0'}} RSD</td>
              <td>{{statusRezervacije(a.status)}}</td>
              <td><button class="dugme" (click)="otkazi(a)">Otkazi</button></td>
            </tr>
          </tbody>
        </table>
    </div>


    <div *ngIf="activeTab === 'arhiva'" class="tab-content">
        <p style="width: 100%;text-align: center; margin-top: 30px;"><b>Arhiva svih ostvarenih rezervacija</b></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Naziv vikendice</th>
              <th>Datum OD</th>
              <th>Ocena</th>
              <th>Komentar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of arhiva">
              <td>{{a.id}}</td>
              <td>
                <a [routerLink]="['/vikendica', a.vikendica.id]" class="link-vikendica">
                  {{ a.vikendica.naziv }}
                </a>
              </td>
              <td>{{a.datumOD ? (a.datumOD | date:'d MMM yyyy') : '--' }}</td>
              <ng-container *ngIf="a.ocena !== 0; else bezOcene">
                <td>{{ a.ocena }}</td>
                <td style="max-width: 200px;">{{ a.ocenaText }}</td>
              </ng-container>

              <ng-template #bezOcene>
                <td colspan="2">
                  <button class="dugme" (click)="oceni(a)">Oceni</button>
                </td>
              </ng-template>
            </tr>
          </tbody>
        </table>
    </div>


    <div *ngIf="activeTab === 'otkazane'" class="tab-content">
      <p style="width: 100%;text-align: center; margin-top: 30px;"><b>Arhiva svih neostvarenih rezervacija</b></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Naziv vikendice</th>
              <th>Mesto</th>
              <th>Datum OD</th>
              <th>Datum DO</th>
              <th>Ukupan iznos</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of otkazane">
              <td>{{a.id}}</td>
              <td>
                <a [routerLink]="['/vikendica', a.vikendica.id]" class="link-vikendica">
                  {{ a.vikendica.naziv }}
                </a>
              </td>
              <td>{{a.vikendica.mesto}}</td>
              <td>{{a.datumOD ? (a.datumOD | date:'d MMM yyyy') : '--' }}</td>
              <td>{{a.datumDO ? (a.datumDO | date:'d MMM yyyy') : '--' }}</td>
              <td>{{a.cena| number:'1.0-0'}} RSD</td>
              <td>{{statusRezervacije(a.status)}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal-overlay" *ngIf="formaVidljiva" (click)="zatvoriFormu()">
  <div class="modal-forma" (click)="$event.stopPropagation()">
    <h3>Ocenite svoju rezervaciju</h3>

    <label for="ocena">Ocena:</label>
    <app-zvezdice (ocenaIzabrana)="postaviOcenu($event)" ></app-zvezdice>

    <label for="tekst">Komentar:</label>
    <textarea id="tekst" rows="5" [(ngModel)]="ocenaText" class="input"></textarea>

    <div style="justify-content: center; width: 100%; text-align: center;">
      <button (click)="posaljiOcenu()">Pošalji ocenu</button>
    </div>
  </div>
</div>

  