.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #1c1c1a;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 600px;
  padding: 0px 30px 50px 30px;
  border-radius: 20px;
  background-color: #f4eee0;
  color: #4b1e2f;
  border: 1px solid #3e3e3e;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  color: #4b1e2f;
  text-align: center;
  justify-content: center;
}

.flex {
  display: flex;
  gap: 15px;
  width: 100%;
}

.flex label {
  flex: 1;
}

.form label {
  position: relative;
  width: 100%;
}

.form label .input,
.form label select {
  background-color: #f4eee0;
  color: #4b1e2f;
  width: 100%;
  padding: 10px 12px;
  outline: none;
  border: 1px solid #3e3e3e;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.form label .input + span,
.form label select + span {
  color: #3e3e3e;
  position: absolute;
  left: 12px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span,
.form label select:focus + span,
.form label select:valid + span {
  color: #4b1e2f;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
  width: 100%;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
  background-color: #2e4f4f;
}

.submit:hover {
  background-color: #a0892c;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

select {
  background-color: #f4eee0;
  color: #4b1e2f;
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
  appearance: none;
}

select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-thumb {
  background-color: rgba(160, 137, 44, 0.6);
  border-radius: 10px;
}

select::-webkit-scrollbar-thumb:hover {
  background-color: #a0892c;
}

select::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 10px;
}

.error {
  color: #ff4d4d;
  font-size: 0.75rem;
  margin-top: 4px;
  margin-left: 5px;
}

.kartica-ikonica {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 40px;
  height: auto;
  pointer-events: none;
}

.kartica-input {
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.upload-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #2e4f4f;
  color: white;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid #3e3e3e;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  width: fit-content;
}

.upload-label:hover {
  background-color: #a0892c;
  box-shadow: 0 6px 12px rgba(160, 137, 44, 0.6);
  border-color: #a0892c;
}

.upload-label:active {
  background-color: #4b1e2f;
  box-shadow: 0 2px 6px rgba(75, 30, 47, 0.8);
}

.upload-label span {
  pointer-events: none;
}

.file-upload-active {
  background-color: #f4eee0;
  border-color: #3e3e3e;
  color: #4b1e2f;
}

.galerija-wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.galerija {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 100%;
  padding: 10px 0;
}

.slika-container {
  position: relative;
  flex: 0 0 auto;
  height: 100%;
  border: 10px solid #f4eee0;
  box-sizing: border-box;
}

.slika-container img {
  height: 100%;
  width: auto;
  display: block;
}

.obrisi-dugme {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(160, 137, 44, 0.6);
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 20px;
}

.obrisi-dugme:hover {
  background-color: #a0892c;
  color: white;
}

.strelica {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 30px;
  height: 100%;
  z-index: 3;
  color: rgba(160, 137, 44, 0.6);
}
