<div class="container">
  <form class="form">
    <h2 class="title">Izmeni podatke o vikendici</h2>

    <!-- Naziv -->
    <label>
        <input class="input" type="text" [(ngModel)]="vikendica.naziv" name="naziv" required>
        <span>Naziv</span>
        <div class="error" *ngIf="formSubmitted && !vikendica.naziv">Naziv je obavezan.</div>
    </label>
    <div class="flex">
        <!-- Mesto -->
        <label>
            <input class="input" type="text" [(ngModel)]="vikendica.mesto" name="mesto" required>
            <span>Mesto</span>
            <div class="error" *ngIf="formSubmitted && !vikendica.mesto">Mesto je obavezno.</div>
        </label>
        <!-- Telefon -->
        <label>
            <input class="input" type="text" [(ngModel)]="vikendica.telefon" name="telefon" required>
            <span>Telefon</span>
            <div class="error" *ngIf="formSubmitted && !vikendica.telefon">Telefon je obavezan.</div>
        </label>
    </div>

    <!-- Opis -->
    <label>
      <textarea class="input" rows="5" [(ngModel)]="vikendica.opis" name="opis" required></textarea>
      <span>Opis</span>
    <div class="error" *ngIf="formSubmitted && !vikendica.opis">Opis je obavezan.</div>
    </label>

    <div class="flex">
        <!-- Cena leti -->
        <label>
            <input class="input" type="number" [(ngModel)]="vikendica.cenaLeto" name="cena_leto" required>
            <span>Cena leti</span>
            <div class="error" *ngIf="formSubmitted && (vikendica.cenaLeto === null || vikendica.cenaLeto === undefined)">
            Cena leti je obavezna.
            </div>
        </label>
        <!-- Cena zimi -->
        <label>
            <input class="input" type="number" [(ngModel)]="vikendica.cenaZima" name="cena_zima" required>
            <span>Cena zimi</span>
            <div class="error" *ngIf="formSubmitted && (vikendica.cenaZima === null || vikendica.cenaZima === undefined)">
            Cena zimi je obavezna.
            </div>
        </label>
    </div>

    <!-- Mapa -->
    <label style="text-align: center; justify-content: center;">
      <app-mapa [x]="vikendica.x" [y]="vikendica.y"
      [width]="540" [height]="300"></app-mapa>
    </label>
    <div class="error" *ngIf="formSubmitted && (vikendica.x === null || vikendica.y === null)">
      Lokacija je obavezna.
    </div>

    <div class="galerija-wrapper">
      <button class="strelica levo" (click)="scrollLevo()">&#8592;</button>

      <div class="galerija" #scrollContainer>
        <div class="slika-container" *ngFor="let slika of vikendica.slike">
          <img [src]="'http://localhost:8080/' + slika" />
          <button class="obrisi-dugme" (click)="obrisiSliku(slika)">✖</button>
        </div>
      </div>

      <button class="strelica desno" (click)="scrollDesno()">&#8594;</button>
    </div>


    <!-- Slike -->
    <label class="upload-label" [class.file-upload-active]="slikaIzabrana">
      <input type="file" multiple (change)="onFileChange($event)" accept="image/png, image/jpeg" hidden>
      <span>Dodaj nove slike</span>
    </label>
    <div class="error" *ngIf="formSubmitted && slikeFajlovi.length === 0">Bar jedna slika je obavezna.</div>


    <!-- Dugme -->
    <button class="submit" type="button" (click)="dodajVikendicu()"><b>Sacuvaj</b></button>
  </form>
</div>
