/* You can add global styles to this file, and also import other style files */
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;  /* ⛔ Zabranjuje horizontalni skrol */
  box-sizing: border-box;
}
body {
  background-color: #1c1c1a; /* tamna braon-siva */
  color: #f4eee0;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}



