<div class="" *ngIf="korisnik">
  <!-- Ako nismo u režimu izmene -->
  <div *ngIf="!izmena" class="container">
    <div class="form1" novalidate>
      <h2 style="text-align: center; justify-content: center;">Tvoj profil</h2>
    <div class="profil-slika" style="text-align: center; justify-content: center;">
      <img [src]="'http://localhost:8080/' + korisnik.slika" alt="Profilna slika" width="150">
    </div>
    <p><strong>Korisničko ime:</strong> {{ korisnik.username }}</p>
    <p><strong>Ime:</strong> {{ korisnik.ime }}</p>
    <p><strong>Prezime:</strong> {{ korisnik.prezime }}</p>
    <p><strong>Pol:</strong> {{ korisnik.pol === 0 ? 'Muški' : 'Ženski' }}</p>
    <p><strong>Adresa:</strong> {{ korisnik.adresa }}</p>
    <p><strong>Telefon:</strong> {{ korisnik.telefon }}</p>
    <p><strong>Email:</strong> {{ korisnik.email }}</p>
    <p><strong>Broj kartice:</strong> {{ korisnik.kartica }}</p>

    <button class="submit" (click)="pokreniIzmenu()">IZMENI</button>
    <button class="submit" style="background-color: red; margin-top: 30px;" (click)="logout()">ODJAVA</button>
    </div>
  </div>
  <!-- Režim izmene -->
<div class="container" *ngIf="izmena">
  <form class="form" novalidate>
    <h2 style="text-align: center; justify-content: center;">Azuriraj podatke</h2>
    <div class="profil-slika" style="text-align: center; justify-content: center;">
      <img [src]="'http://localhost:8080/' + korisnik.slika" alt="Profilna slika" width="150">
    </div>

    <!-- Ime -->
    <label>
      <input class="input" [(ngModel)]="izmenaKorisnik.ime" name="ime" required />
      <span>Ime</span>
      <div class="error" *ngIf="greske.ime">{{ greske.ime }}</div>
    </label>

    <!-- Prezime -->
    <label>
      <input class="input" [(ngModel)]="izmenaKorisnik.prezime" name="prezime" required />
      <span>Prezime</span>
      <div class="error" *ngIf="greske.prezime">{{ greske.prezime }}</div>
    </label>

    <!-- Pol -->
    <label>
      <select [(ngModel)]="izmenaKorisnik.pol" name="pol">
        <option [value]="0">Muški</option>
        <option [value]="1">Ženski</option>
      </select>
            <span>Pol</span>
    </label>

    <!-- Adresa -->
    <label>
      <input class="input" [(ngModel)]="izmenaKorisnik.adresa" name="adresa" />
      <span>Adresa</span>
    </label>

    <!-- Telefon -->
    <label>
      <input class="input" type="text" [(ngModel)]="izmenaKorisnik.telefon"
        name="telefon"  required />
        <span>Telefon</span>
      <div *ngIf="greske.telefon" class="error">{{ greske.telefon }}</div>
    </label>

    <!-- Email -->
    <label>
      <input class="input" [(ngModel)]="izmenaKorisnik.email" name="email" type="email" required />
      <span>Email</span>
      <div class="error" *ngIf="greske.email">{{ greske.email }}</div>
    </label>

    <!-- Kartica -->
    <label>
      <input class="input" [(ngModel)]="izmenaKorisnik.kartica" name="kartica" required />
      <img [src]="karticaIkonica" class="kartica-ikonica" *ngIf="karticaIkonica">
      <span>Broj kartice</span>
      <div class="error" *ngIf="greske.kartica">{{ greske.kartica }}</div>
    </label>

    <!-- Slika -->
    <label class="upload-label" [class.file-upload-active]="slikaIzabrana">
      <input type="file" accept="image/png, image/jpeg" (change)="onSlikaChange($event)" hidden>
      <span>{{ slikaIzabrana ? 'Slika izabrana ✔' : 'Izaberi profilnu sliku (JPG/PNG)' }}</span>
      <div *ngIf="greske.slika" class="error">{{ greske.slika }}</div>
    </label>
    

    <!-- Dugmad -->
    <div class="flex" style="justify-content: space-around;">
      <button class="submit" (click)="sacuvajIzmene()">SAČUVAJ</button>
      <button class="submit" style="background-color: red;" (click)="ponistiIzmene()">PONIŠTI</button>
    </div>

  </form>
</div>

  
</div>
