<div *ngIf="korisnik" style="justify-content: center; display: flex; flex-direction: column; align-items: center;">
  <!-- Prikaz podataka -->
  <div *ngIf="!izmena" class="profil-kartica">
    <h2 class="naslov">Tvoj profil</h2>
    <div class="profilna-wrapper">
      <img [src]="'http://localhost:8080/' + korisnik.slika" alt="default.png">
    </div>
    <div class="podaci">
      <p><strong>Korisničko ime:</strong> {{ korisnik.username }}</p>
      <p><strong>Ime:</strong> {{ korisnik.ime }}</p>
      <p><strong>Prezime:</strong> {{ korisnik.prezime }}</p>
      <div *ngIf="korisnik.tip>0">
      <p><strong>Pol:</strong> {{ korisnik.pol === 0 ? 'Muški' : 'Ženski' }}</p>
      <p><strong>Adresa:</strong> {{ korisnik.adresa }}</p>
      <p><strong>Telefon:</strong> {{ korisnik.telefon }}</p>
      <p><strong>Email:</strong> {{ korisnik.email }}</p>
      <p><strong>Broj kartice:</strong> {{ korisnik.kartica }}</p>
      </div>
    </div>

    <div class="dugmad">
      <button *ngIf="korisnik.tip>0" class="dugme" (click)="pokreniIzmenu()">Izmeni</button>
      <button class="dugme crveno" (click)="logout()">Odjava</button>
    </div>
  </div>

  <!-- Forma za izmenu -->
  <form *ngIf="izmena" class="profil-forma" novalidate class="form">
    <h2 class="naslov">Ažuriraj podatke</h2>
    <div class="profilna-wrapper">
      <img [src]="'http://localhost:8080/' + korisnik.slika" alt="Profilna slika">
    </div>

    <label >
      <input class="input" [(ngModel)]="izmenaKorisnik.ime" name="ime" required>
      <span>Ime</span>
      <div class="error" *ngIf="greske.ime">{{ greske.ime }}</div>
    </label>

    <label>
      <input class="input" [(ngModel)]="izmenaKorisnik.prezime" name="prezime" required>
      <span>Prezime</span>
      <div class="error" *ngIf="greske.prezime">{{ greske.prezime }}</div>
    </label>

    <label>
      <select [(ngModel)]="izmenaKorisnik.pol" name="pol">
        <option [value]="0">Muški</option>
        <option [value]="1">Ženski</option>
      </select>
      <span>Pol</span>
    </label>

    <label>
      <input class="input" [(ngModel)]="izmenaKorisnik.adresa" name="adresa">
      <span>Adresa</span>
    </label>

    <label>
      <input class="input" type="text" [(ngModel)]="izmenaKorisnik.telefon" name="telefon" required>
      <span>Telefon</span>
      <div class="error" *ngIf="greske.telefon">{{ greske.telefon }}</div>
    </label>

    <label>
      <input class="input" type="email" [(ngModel)]="izmenaKorisnik.email" name="email" required>
      <span>Email</span>
      <div class="error" *ngIf="greske.email">{{ greske.email }}</div>
    </label>

    <label class="kartica-label">
      <input class="input" [(ngModel)]="izmenaKorisnik.kartica" name="kartica" required>
      <span>Broj kartice</span>
      <img [src]="karticaIkonica" *ngIf="karticaIkonica" class="kartica-ikonica">
      <div class="error" *ngIf="greske.kartica">{{ greske.kartica }}</div>
    </label>

    <label class="upload-label" [class.file-upload-active]="slikaIzabrana">
      <input type="file" accept="image/png, image/jpeg" (change)="onSlikaChange($event)" hidden>
      <span style="color: beige;">{{ slikaIzabrana ? '✔ Slika izabrana' : 'Izaberi sliku (JPG/PNG)' }}</span>
      <div class="error" *ngIf="greske.slika">{{ greske.slika }}</div>
    </label>

    <div class="dugmad">
      <button class="dugme" (click)="sacuvajIzmene()">Sačuvaj</button>
      <button class="dugme crveno" (click)="ponistiIzmene()">Poništi</button>
    </div>
  </form>
</div>
